@import "./styles/all-variables.css";

body {
  background-image: url(./images/matrix-2354492_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* ========== HEADER BURGER ========== */
.header-brg {
  background-color: var(--color-primary);
  width: 6rem;
  height: 6rem;
  margin-top: 2.5rem;
  margin-left: 1.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.header-brg__icon {
  width: 2.4rem;
  height: 2.4rem;
  display: block;
}

/* ========== TITRE ========== */
h1 {
  text-align: center;
  font-family: var(--font-H);
  font-size: 6rem;
  color: var(--color-primary);
}

/* ========== INTRO SECTION ========== */
.intro {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 3rem;
  margin-top: 0.5rem;
}

p {
  font-family: var(--font-title);
  color: var(--second-color);
  display: block;
  margin-left: 2.7rem;
}

h2 {
  color: var(--color-primary);
  font-size: 4rem;
  margin-left: 6rem;
  margin-top: 0;
  margin-bottom: 0;
}

/* ========== CTA SECTION ========== */
.cta {
  display: flex;
  gap: 3rem;
  justify-content: center;
  position: relative;
}

.cta__link {
  text-decoration: none;
  color: var(--second-color);
  font-family: var(--font-title);
  position: relative;
  background: linear-gradient(#11998e, #38ef7d);
  box-shadow: #11998e 0.3rem 0.3rem 0.6rem;
  border: rgb(23, 229, 23) solid 0.25rem;
  border-radius: 2rem;
  font-size: 2.2rem;
  margin-right: 1rem;
  margin-top: 6.2rem;
  width: 10rem;
  height: 5rem;
}

.cta__link--secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  text-align: center;
  width: 12rem;
  height: 8rem;
}

/* ========== CARD CONTAINER ========== */
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--third-color);
  border: 2px solid rgb(59, 194, 17);
  border-radius: 2rem;
  box-shadow: rgba(214, 203, 203, 0.35) 1rem -1rem 1rem 12px;
  width: 15rem;
  height: 15rem;
  margin: 2rem auto;
}

.card-container__text {
  color: #000;
  font-size: 1.5rem;
  text-align: center;
}

/* ========== FOOTER SECTION ========== */
.footer-nav {
  border: rgb(59, 194, 17) solid 0.12rem;
  border-radius: 2rem;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  box-shadow: 4rem;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.footer-nav__link {
  background: linear-gradient(#11998e, #38ef7d);
  height: 5rem;
  width: 5rem;
}

footer {
  color: #a0a0a0;
  font-size: 1rem;
  margin-bottom: 0;
  text-align: center;
}
