@import "./styles/colors.css ";
@import "./styles/font.css";

body {
  background-color: rgb(24, 40, 1);
  font-family: var(--main-font);
  background-image: url(./styles.css/matrix-2354492_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

brg-head {
  background-color: yellowgreen;
  width: 4rem;
  height: 4rem;
  margin-top: 2.5rem;
  margin-left: 1.2 rem;
}

brg-head svg {
  width: 100%;
  height: 100%;
}

/* .titre {
  /* text-align: center;
  font-family: var(--main-font);
  font-size: 2rem; */


h1 {
  text-align: center;
  font-family: var(--main-font);
  font-size: 2rem;

  color: var(--color-primary);
}  

.intro {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 3rem;
  margin-top: 0.5rem;
}

.texte2 span {
  display: block; /* chaque texte sur sa ligne */
}

p {
  color: var(--third-color);
  margin-left: 2.7rem;
}

h2 {
  color: var(--main-color);

  font-size: 4rem;
  margin-left: 6rem;
  margin-top: 0; /* supprime tout espace au-dessus */
  margin-bottom: 0;
}

.cta-container {
  display: flex;
  gap: 3rem;
  justify-content: center;
  position: relative; /* pour pouvoir positionner les boutons à l’intérieur */
}
.cta-container button {
  background: linear-gradient(90deg, #11998e 0%, #38ef7d 100%);
  border: black solid 0.12rem;
  border-radius: 1rem;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  font-weight: bold; /* rend le texte du bouton plus visible */
  box-shadow: 4rem;
}

.cta-app {
  position: relative;
  background: linear-gradient(#11998e, #38ef7d);
  box-shadow: #11998e 0.3rem 0.3rem 0.6rem;

  margin-right: 1rem;
  margin-top: 6.2rem;
}

.cta-connect {
  position: relative;
  background: linear-gradient(#11998e, #38ef7d);
  box-shadow: #11998e 0.3rem 0.3rem 0.6rem;
  margin-right: 12.5rem;
  margin-top: 6.2rem;
}

.card-offer {
  color: var(--main-color);
  font-size: 4.2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: rgb(214, 250, 187) solid 0.25rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-bottom: 10rem;
  text-align: center;
  margin: 18rem;
}

/* .parent{text-align: center;} */

.button {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
}

.btn-partner {
  background: linear-gradient(#11998e, #38ef7d);
  height: 5rem;
  width: 5rem;
}

/* main{ 
    margin-top: 20rem;
    margin-right: 21rem;
    display flex: ;
    flex-direction: column;}*/

footer {
  color: #a0a0a0;
  font-size: 3rem;

  /* padding-top: 800px; */
  /* margin top:500px; */
  text-align: center;
}

/* h1 { 
  color: var(--third-color);
  text-shadow: 12px 8px 10px #0a7455;
} */
