/* Classe réutilisable pour boutons */
.btn--style {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem;
  border-radius: 25px;
  font-family: var(--font-H);
  font-weight: normal;
  text-decoration: underline;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  background-image: var(--third-color);
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  /* border: 2px double #38ef7d; */
  display: inline-block;
}
