:root {
  --color-primary: rgb(12, 207, 15);
  --second-color: #f1f1f1;
  --third-color: linear-gradient(90deg, #11998e, #38ef7d);
--four-color: rgb(59, 194, 17) solid 0.12rem
--border-color: #38ef7d; 
}
